<!DOCTYPE html>
<html>
<head>
<title>
{% if title %}{{title}} - {% endif %}WiT
</title>
<link href='http://fonts.googleapis.com/css?family=Cinzel|Alef:400,700' rel='stylesheet' type='text/css'>
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" href="/stylesheets/wit.css" />
</head>
<body>
<h1 id="identity">Writing Is Thinking</h1>
{{ yield }}
</body>
</html>
