<!DOCTYPE html>
<html>
<head>
<title>WiT: Writing is Thinking</title>
<link href='http://fonts.googleapis.com/css?family=Cinzel|Alef:400,700' rel='stylesheet' type='text/css'>
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" href="/stylesheets/wit.css" />
</head>
<body>
<div class="cover">
{{note.body}}
</div>
<div class="navigation">
<div class="archive">
<h2>Archives</h2>
<ul class="month-list">
{% for m in months %}
  <li><a href="{{m.url}}">{{m}}</a></li>
{% endfor %}
</ul>
</div>
</div>
</body>
</html>
