<!DOCTYPE html>
<html>
<head>
<title>
WiT: Writing is Thinking
</title>
<link href='http://fonts.googleapis.com/css?family=Fauna+One|Alef:400,700' rel='stylesheet' type='text/css'>
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" href="/stylesheets/wit.css" />
</head>
<body>
{{ yield }}
</body>
</html>
