<div class="edit">
<input placeholder="Untitled" class="edit-title" type="text">
<textarea class="edit-body"></textarea>
<div class="edit-controls">
  <div class="edit-padding"></div>
  <div class="edit-ctl edit-save button" tabindex="0">Save</div>
  <input type="checkbox" class="edit-ctl edit-publish">
  <div class="edit-ctl edit-link" tabindex="0"><a class="edit-link-anchor" href="">#</a></div>
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<script src="/javascripts/wit.js"></script>
</div>
