<div class="edit">
<input placeholder="Untitled" class="edit-title" type="text">
<textarea class="edit-body"></textarea>
<div class="edit-controls think-footer">
  <div class="edit-link think-footer-item" tabindex="0">
    <a class="edit-link-anchor" href="{{prefix}}">&lt;</a>
  </div>
  <input class="edit-publish" type="checkbox">
  <div class="edit-save think-footer-item" tabindex="0">Save</div>
  <div class="think-footer-item think-footer-console"></div>
  <div class="think-footer-item think-footer-padding"></div>
</div>
<script>
$(document).on("ready", WIT.initEditing);
</script>
</div>
