<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width">
<title>{% if title %}{{title}} - {% endif %}WiT</title>
<link href='http://fonts.googleapis.com/css?family=Fauna+One|Alef:400,700' rel='stylesheet' type='text/css'>
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" href="/stylesheets/wit.css" />
</head>
<body>
<h1 id="identity"><a href="{{ prefix }}/">Writing Is Thinking</a></h1>
{{ yield }}
</html>
