<div class="container">
<div class="note content">
{% if nil == title %}
<h1>(Untitled)</h1>
{% endif %}
{{note.body}}
</div>
{% if thinking %}
<div class="think-footer">
  <div class="edit-link think-footer-item" tabindex="0">
    <a class="edit-link-anchor" href="{{ edit_url }}">&gt;</a>
  </div>
  <div class="new-link think-footer-item" tabindex="0">
    <a class="new-link-anchor" href="/~/edit">New</a>
  </div>
</div>
{% endif %}
</div>
{% if thinking %}
<script>
$(document).on("ready", WIT.initNoteView);
</script>
{% endif %}