<div class="container">
<div class="note content">
{% if nil == title %}
<h1>(Untitled)</h1>
{% endif %}
{{note.body}}
</div>
<div class="think-footer">
{% if thinking %}
<div class="think-footer-item"><a href="{{ edit_url }}">&gt;</a></div>
{% endif %}
</div>
</div>