options[:repopath] = File.expand_path("~/work/wit/repo/")
options[:repourl] = "https://oauthkey@github.com/your/notes"
options[:cookie_secret] = "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
options[:github_login] = "octocat"
options[:github_client_id] = "0000000000000000000"
options[:github_client_secret] = "11111111111111111111111111111111"